In [1]:
import pandas as pd
import csv

In [16]:
df = pd.read_csv("horror_movies.csv")
df.head()

,id,original_title,title,original_language,overview,tagline,release_date,poster_path,popularity,vote_count,vote_average,budget,revenue,runtime,status,adult,backdrop_path,genre_names,collection,collection_name
0,760161,Orphan: First Kill,Orphan: First Kill,en,After escaping from an Estonian psychiatric fa...,There's always been something wrong with Esther.,2022-07-27,/pHkKbIRoCe7zIFvqan9LFSaQAde.jpg,5088.584,902,6.9,0,9572765,99,Released,False,/5GA3vV1aWWHTSDO5eno8V5zDo8r.jpg,"Horror, Thriller",760193.0,Orphan Collection
1,760741,Beast,Beast,en,A recently widowed man and his two teenage dau...,Fight for family.,2022-08-11,/xIGr7UHsKf0URWmyyd5qFMAq4d8.jpg,2172.338,584,7.1,0,56000000,93,Released,False,/2k9tBql5GYH328Krj66tDT9LtFZ.jpg,"Adventure, Drama, Horror",NaN,NaN
2,882598,Smile,Smile,en,"After witnessing a bizarre, traumatic incident...","Once you see it, it’s too late.",2022-09-23,/hiaeZKzwsk4y4atFhmncO5KRxeT.jpg,1863.628,114,6.8,17000000,45000000,115,Released,False,/mVNPfpydornVe4H4UCIk7WevWjf.jpg,"Horror, Mystery, Thriller",NaN,NaN
3,756999,The Black Phone,The Black Phone,en,"Finney Blake, a shy but clever 13-year-old boy...",Never talk to strangers.,2022-06-22,/lr11mCT85T1JanlgjMuhs9nMht4.jpg,1071.398,2736,7.9,18800000,161000000,103,Released,False,/AfvIjhDu9p64jKcmohS4hsPG95Q.jpg,"Horror, Thriller",NaN,NaN
4,772450,Presencias,Presences,es,A man who loses his wife and goes to seclude h...,NaN,2022-09-07,/dgDT3uol3mdvwEg0jt1ble3l9hw.jpg,1020.995,83,7.0,0,0,0,Released,False,/ojfzhdwRemcDt1I6pao6vVLw9AA.jpg,Horror,NaN,NaN

In [17]:
filtered_movies= movies[["title", "overview", "tagline", "budget", "revenue"]]

In [18]:
filtered_movies.head()

,title,overview,tagline,budget,revenue
0,Orphan: First Kill,After escaping from an Estonian psychiatric fa...,There's always been something wrong with Esther.,0,9572765
1,Beast,A recently widowed man and his two teenage dau...,Fight for family.,0,56000000
2,Smile,"After witnessing a bizarre, traumatic incident...","Once you see it, it’s too late.",17000000,45000000
3,The Black Phone,"Finney Blake, a shy but clever 13-year-old boy...",Never talk to strangers.,18800000,161000000
4,Presences,A man who loses his wife and goes to seclude h...,NaN,0,0

In [19]:
filtered_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32540 entries, 0 to 32539
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     32540 non-null  object
 1   overview  31254 non-null  object
 2   tagline   12707 non-null  object
 3   budget    32540 non-null  int64
 4   revenue   32540 non-null  int64
dtypes: int64(2), object(3)
memory usage: 1.2+ MB

In [20]:
filtered_movies.to_csv("horror_movies_data.csv")

In [21]:
combined_data = pd.read_csv("combined_movies_dataset.csv")

F:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [22]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374736 entries, 0 to 374735
Columns: 302 entries, title to Unnamed: 301
dtypes: object(302)
memory usage: 863.4+ MB

In [23]:
combined_dataset =  pd.concat([combined_data, filtered_movies], ignore_index=True)

In [24]:
combined_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407276 entries, 0 to 407275
Columns: 305 entries, title to revenue
dtypes: float64(2), object(303)
memory usage: 947.7+ MB

In [25]:
df_cleaned = combined_dataset.drop_duplicates()

In [26]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406572 entries, 0 to 407275
Columns: 305 entries, title to revenue
dtypes: float64(2), object(303)
memory usage: 949.2+ MB

In [27]:
df_cleaned = combined_dataset.dropna()

In [28]:
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

In [30]:
df['tagline'] = df['tagline'].str.lower()
df['title'] = df['title'].str.strip()

In [31]:
df.to_csv('cleaned_movies.csv', index=False)