In [1]:
import pandas as pd
import csv

In [2]:
movies = pd.read_csv("movies_dataset1.csv")
movies.head()

,title,overview,popularity,genres,release_date
0,Christy,Seventeen-year-old Christy is at a crossroads....,0.0,NaN,2024-12-31
1,Untitled Project,Logan Westin's second film releasing later in ...,0.0,NaN,2024-12-31
2,Bloodshed,A retired detective is pulled back in by a hau...,0.0,"Action, Horror, Drama",2024-12-31
3,Dysfunction,A man's grasp on reality falls apart when he e...,0.0,Horror,2024-12-31
4,Tornado,A struggling contractor risks his young sons' ...,0.0,Drama,2024-12-31

In [5]:
filtered_movies= movies[["title", "overview"]]

In [6]:
filtered_movies.head()

              title                                           overview
0           Christy  Seventeen-year-old Christy is at a crossroads....
1  Untitled Project  Logan Westin's second film releasing later in ...
2         Bloodshed  A retired detective is pulled back in by a hau...
3       Dysfunction  A man's grasp on reality falls apart when he e...
4           Tornado  A struggling contractor risks his young sons' ...

In [7]:
filtered_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359562 entries, 0 to 359561
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   title     359562 non-null  object
 1   overview  348977 non-null  object
dtypes: object(2)
memory usage: 5.5+ MB

In [8]:
filtered_movies.to_csv("movies_data.csv")

In [9]:
combined_data = pd.read_csv("combined_movies_dataset.csv")

In [13]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 733952 entries, 0 to 733951
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   title         733952 non-null  object
 1   overview      712782 non-null  object
 2   popularity    359562 non-null  float64
 3   genres        206165 non-null  object
 4   release_date  359562 non-null  object
dtypes: float64(1), object(4)
memory usage: 28.0+ MB

In [14]:
combined_dataset =  pd.concat([combined_data, filtered_movies], ignore_index=True)

In [15]:
combined_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1093514 entries, 0 to 1093513
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   title         1093514 non-null  object
 1   overview      1061759 non-null  object
 2   popularity    359562 non-null   float64
 3   genres        206165 non-null   object
 4   release_date  359562 non-null   object
dtypes: float64(1), object(4)
memory usage: 41.7+ MB

In [18]:
df_cleaned = combined_dataset.drop_duplicates()

In [19]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 732938 entries, 0 to 733951
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   title         732938 non-null  object
 1   overview      711829 non-null  object
 2   popularity    359516 non-null  float64
 3   genres        206149 non-null  object
 4   release_date  359516 non-null  object
dtypes: float64(1), object(4)
memory usage: 33.6+ MB